// colorscheme(generated)
$bg: #1b1917;
$fg: #fffefe;
$inactive: #613819;
$darkblue: #415c76;
$cyan: #7395b0;
$green: #6b6a71;
$orange: #8e5124;
$pink: #82c3f7;
$purple: #5d3a21;
$red: #c67225;
$yellow: #81502c;


$btblue: #4877a5;
