// colorschese(generated)
$bg: #191919;
$fg: #ffffff;
$inactive: #6c502b;
$darkblue: #b59f79;
$cyan: #93826f;
$green: #6c5337;
$orange: #9d743e;
$pink: #cfa97f;
$purple: #c9b797;
$red: #8d6f47;
$yellow: #b08a4b;


$btblue: #fed389;
