// colorschese(generated)
$bg: #171919;
$fg: #ffffff;
$inactive: #66644d;
$darkblue: #296876;
$cyan: #654a26;
$green: #215462;
$orange: #959270;
$pink: #8c6128;
$purple: #848379;
$red: #86673c;
$yellow: #b0906f;


$btblue: #2a8da3;
