* {
    bg-col:  #1a1b1c;
    bg-col-light: #5e4c75;
    border-col: #1a1b1c;
    selected-col: #886faa;
    blue: #52637f;
    fg-col: #b0829c;
    fg-col2: #1a1b1c;
    grey: #c5c6c6;
    width: 600;
}

