* {
    bg-col:  #1b1917;
    bg-col-light: #613819;
    border-col: #1b1917;
    selected-col: #8e5124;
    blue: #415c76;
    fg-col: #5d3a21;
    fg-col2: #1b1917;
    grey: #c6c5c5;
    width: 600;
}

